{% extends 'base.html' %}
{%block navbarac%}active{%endblock%}
{%block content%}
<div class="p-5 mb-4 bg-success-subtle rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Aircraft Successfully Added</h1>
        <p class="col-md-8 fs-4">You may add more Aircraft by clicking the button below.</p>
        <a class="btn btn-primary" href="{{url_for('addAC')}}" role="button">Add Another Aircraft</a>
        <a class="btn btn-primary" href="{{url_for('viewAC')}}" role="button">View Aircraft Fleet</a>
    </div>
</div>
{%endblock%}