{% extends 'base.html' %}

{% block navbarame %}active{% endblock %}

{%block content%}

<div class="p-5 mb-4 bg-success-subtle rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">AME Crew Successfully Added</h1>
        <p class="col-md-8 fs-4">You may add more AME Crew by clicking the button below.</p>
        <a class="btn btn-primary" href="{{url_for('addAME')}}" role="button">Add Another AME Crew</a>
        <a class="btn btn-primary" href="{{url_for('viewAME')}}" role="button">View AME Database</a>
    </div>
</div>

{%endblock%}