{%extends 'base.html'%}

{% block navbarac %}active{% endblock %}

{% block content %}
<!-- Add Aircraft Info Form -->
<div class="container">
    <form action="{{url_for('addAC')}}" method="post">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">MSN</label>
                    <input type="number" class="form-control" id="sapform" name="msn" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="col">
                <label for="exampleInputPassword1" class="form-label">A/C Type</label>
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        name="type">
                        <option value="A320">[A320] Airbus A320</option>
                        <option value="B737">[B737] Boeing 737</option>
                        <option value="B777">[B777] Boeing 777</option>
                        <option value="B787">[B787] Boeing 787</option>
                        <option value="A350">[A350] Airbus A350</option>
                    </select>
                    <label for="floatingSelect">Select A/C Type</label>
                </div>
            </div>
        </div>
        <p></p>

        <div class="row">
            <div class='col'>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Registration</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">VT-</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" name="regn">
                    </div>
                </div>
            </div>
            <div class='col'>
                <label for="exampleInputPassword1" class="form-label">Is Aircraft Fit for Service?</label>
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        name="avail">
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                    <label for="floatingSelect">Yes/No</label>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Engine Spec</label>
                    <input type="text" class="form-control" id="sapform" name="engine" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Engine Runtime</label>
                    <input type="number" class="form-control" id="sapform" name="engine_hours"
                        aria-describedby="emailHelp">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>All fields are mandatory.</p>
                <button type="submit" class="btn btn-primary">Add Aircraft</button>
            </div>
            <div class="col">
            </div>
        </div>
    </form>
</div>

{% endblock %}