{% extends 'base.html' %}
{% block navbarflt %}active{% endblock %}
{% block content %}
<!-- Add Flight Input Form -->
<div class="container">
    <form action="{{ url_for('addFlight') }}" method="post">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="flightNoForm" class="form-label">Flight Number</label>
                    <input type="text" class="form-control" id="flightNoForm" name="flight_no" required>
                </div>
            </div>

            <div class="col">
                <label for="exampleInputPassword1" class="form-label">Fleet Certified</label>
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        name="actype">
                        <option value="A320">[A320] Airbus A320</option>
                        <option value="B737">[B737] Boeing 737</option>
                        <option value="B777">[B777] Boeing 777</option>
                        <option value="B787">[B787] Boeing 787</option>
                        <option value="A350">[A350] Airbus A350</option>
                    </select>
                    <label for="floatingSelect">Yes/No</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="depAirportForm" class="form-label">Departure Airport</label>
                    <input type="text" class="form-control" id="depAirportForm" name="dep" maxlength="3" required>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="arrAirportForm" class="form-label">Arrival Airport</label>
                    <input type="text" class="form-control" id="arrAirportForm" name="arr" maxlength="3" required>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="mb-3">
                    <label for="etdForm" class="form-label">Estimated Time of Departure (ETD)</label>
                    <input type="text" class="form-control" id="etdForm" name="etd" pattern="^[0-9]{4}$" maxlength="4"
                        required>
                    <small>Format: HHMM (24-hour)</small>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="etaForm" class="form-label">Estimated Time of Arrival (ETA)</label>
                    <input type="text" class="form-control" id="etaForm" name="eta" pattern="^[0-9]{4}$" maxlength="4"
                        required>
                    <small>Format: HHMM (24-hour)</small>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="durationForm" class="form-label">Duration</label>
                    <input type="text" class="form-control" id="durationForm" name="duration" pattern="^[0-9]{4}$"
                        maxlength="4" required>
                    <small>Format: HHMM (24-hour)</small>
                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Add Flight</button>
    </form>
</div>
{% endblock %}